.flows.json.backup
[{"id":"df21e0b5.ac35e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cdbc66a6.c0faa8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"testdb","name":"","usetls":false,"tls":""},{"id":"f97ca0c4.659e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"Pi2_NR-Live","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"DEVICES/PI2NR-LIVE","birthQos":"1","birthRetain":"false","birthPayload":"Online","willTopic":"DEVICES/PI2NR-LIVE","willQos":"1","willRetain":"false","willPayload":"Offline"},{"id":"a23fffc8.94f1a8","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"841d224b.d2a12","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"77731f87.9f022","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"testdb","name":"influx","usetls":false,"tls":""},{"id":"bff66c14.5f8888","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"testdb","name":"test","usetls":false,"tls":""},{"id":"5bc7fc73.0d7014","type":"inject","z":"df21e0b5.ac35e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":300,"wires":[["a3b4eca6.8a4d6"]]},{"id":"a3b4eca6.8a4d6","type":"function","z":"df21e0b5.ac35e","name":"Fields","func":"msg.payload = {\n    temp: 10,\n    hum: 39,\n    battery: \"ok\",\n    device_id: 1\n}\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":300,"wires":[["8eea588c.b35778"]]},{"id":"8eea588c.b35778","type":"influxdb out","z":"df21e0b5.ac35e","influxdb":"bff66c14.5f8888","name":"","measurement":"log","precision":"","retentionPolicy":"","x":468,"y":300,"wires":[]}]