flows.json
[{"id":"df21e0b5.ac35e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cdbc66a6.c0faa8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"testdb","name":"","usetls":false,"tls":""},{"id":"f97ca0c4.659e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"Pi2_NR-Live","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"DEVICES/PI2NR-LIVE","birthQos":"1","birthRetain":"false","birthPayload":"Online","willTopic":"DEVICES/PI2NR-LIVE","willQos":"1","willRetain":"false","willPayload":"Offline"},{"id":"a23fffc8.94f1a8","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"841d224b.d2a12","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"77731f87.9f022","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"testdb","name":"influx","usetls":false,"tls":""},{"id":"bff66c14.5f8888","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"testdb","name":"test","usetls":false,"tls":""},{"id":"184d5c65.77d494","type":"ttn app","z":"","appId":"dragino_sensors","accessKey":"ttn-account-v2.Vz00Nqv8mQvFs_uOwvA6PK3YeunI7C_CSGX18gWong0","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"5bc7fc73.0d7014","type":"inject","z":"df21e0b5.ac35e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":900,"wires":[["a3b4eca6.8a4d6"]]},{"id":"a3b4eca6.8a4d6","type":"function","z":"df21e0b5.ac35e","name":"test","func":"msg.payload = {\n    temp: 4,\n    hum: 39,\n    battery: \"okidoki\",\n    device_id: 99\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":900,"wires":[["5de70074.8022c8"]]},{"id":"8eea588c.b35778","type":"influxdb out","z":"df21e0b5.ac35e","influxdb":"bff66c14.5f8888","name":"","measurement":"log","precision":"","retentionPolicy":"","x":740,"y":1140,"wires":[]},{"id":"37900ae8.189906","type":"debug","z":"df21e0b5.ac35e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":100,"wires":[]},{"id":"e488f17e.522a68","type":"ttn uplink","z":"df21e0b5.ac35e","name":"TTNtest","app":"184d5c65.77d494","dev_id":"","field":"","x":130,"y":100,"wires":[["37900ae8.189906","74f8a20a.882fdc"]]},{"id":"abb8eec6.e7aab8","type":"influxdb out","z":"df21e0b5.ac35e","influxdb":"cdbc66a6.c0faa8","name":"Influxdb","measurement":"testlog2","precision":"","retentionPolicy":"","x":500,"y":240,"wires":[]},{"id":"51dabfe9.dc3268","type":"debug","z":"df21e0b5.ac35e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1060,"wires":[]},{"id":"5de70074.8022c8","type":"change","z":"df21e0b5.ac35e","name":"","rules":[{"t":"move","p":"payload.temp","pt":"msg","to":"payload.Temperature","tot":"msg"},{"t":"delete","p":"payload.device_id","pt":"msg"},{"t":"set","p":"payload.Id","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":980,"wires":[["267f89df.cd217e"]]},{"id":"90e1f666.b165e8","type":"debug","z":"df21e0b5.ac35e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":160,"wires":[]},{"id":"d1783676.5c2638","type":"function","z":"df21e0b5.ac35e","name":"","func":"if(msg.payload.Temperature < 5){\n    node.warn(\"Temperature is low\");\n    msg.payload.Tempareture = \"Low\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1120,"wires":[["51dabfe9.dc3268"]]},{"id":"267f89df.cd217e","type":"change","z":"df21e0b5.ac35e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1040,"wires":[["d1783676.5c2638"]]},{"id":"74f8a20a.882fdc","type":"change","z":"df21e0b5.ac35e","name":"Name change","rules":[{"t":"move","p":"payload.TempC_SHT","pt":"msg","to":"payload.Temperature","tot":"msg"},{"t":"move","p":"payload.Hum_SHT","pt":"msg","to":"payload.Humidity","tot":"msg"},{"t":"move","p":"payload.BatV","pt":"msg","to":"payload.Battery","tot":"msg"},{"t":"delete","p":"payload.TempC_DS","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["90e1f666.b165e8","abb8eec6.e7aab8"]]},{"id":"55fde3a0.d7d3f4","type":"ttn uplink","z":"df21e0b5.ac35e","name":"Sensor 1","app":"184d5c65.77d494","dev_id":"dragino_lht65-1","field":"","x":140,"y":540,"wires":[["d60a65b5.57b62"]]},{"id":"74f65513.e193b4","type":"debug","z":"df21e0b5.ac35e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":480,"wires":[]},{"id":"d60a65b5.57b62","type":"change","z":"df21e0b5.ac35e","name":"Name change","rules":[{"t":"move","p":"payload.TempC_SHT","pt":"msg","to":"payload.Temperature","tot":"msg"},{"t":"move","p":"payload.Hum_SHT","pt":"msg","to":"payload.Humidity","tot":"msg"},{"t":"move","p":"payload.BatV","pt":"msg","to":"payload.Battery","tot":"msg"},{"t":"delete","p":"payload.TempC_DS","pt":"msg"},{"t":"set","p":"payload.DeviceId","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":540,"wires":[["74f65513.e193b4","36468c7c.4fd514"]]},{"id":"2a17732b.6517a4","type":"ttn uplink","z":"df21e0b5.ac35e","name":"Sensor2","app":"184d5c65.77d494","dev_id":"dragino_lht65-2","field":"","x":140,"y":660,"wires":[["f9646116.295fb8"]]},{"id":"ae3be718.618468","type":"debug","z":"df21e0b5.ac35e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":720,"wires":[]},{"id":"f9646116.295fb8","type":"change","z":"df21e0b5.ac35e","name":"Name change","rules":[{"t":"move","p":"payload.TempC_SHT","pt":"msg","to":"payload.Temperature","tot":"msg"},{"t":"move","p":"payload.Hum_SHT","pt":"msg","to":"payload.Humidity","tot":"msg"},{"t":"move","p":"payload.BatV","pt":"msg","to":"payload.Battery","tot":"msg"},{"t":"delete","p":"payload.TempC_DS","pt":"msg"},{"t":"set","p":"payload.DeviceId","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":660,"wires":[["ae3be718.618468","36468c7c.4fd514"]]},{"id":"36468c7c.4fd514","type":"influxdb out","z":"df21e0b5.ac35e","influxdb":"cdbc66a6.c0faa8","name":"Influxdb","measurement":"testlog3","precision":"","retentionPolicy":"","x":680,"y":600,"wires":[]}]