flows.json
[{"id":"df21e0b5.ac35e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cdbc66a6.c0faa8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"testdb","name":"","usetls":false,"tls":""},{"id":"f97ca0c4.659e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"Pi2_NR-Live","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"DEVICES/PI2NR-LIVE","birthQos":"1","birthRetain":"false","birthPayload":"Online","willTopic":"DEVICES/PI2NR-LIVE","willQos":"1","willRetain":"false","willPayload":"Offline"},{"id":"a23fffc8.94f1a8","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"841d224b.d2a12","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"77731f87.9f022","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"testdb","name":"influx","usetls":false,"tls":""},{"id":"bff66c14.5f8888","type":"influxdb","z":"df21e0b5.ac35e","hostname":"127.0.0.1","port":"8086","database":"testdb","name":"test","usetls":false,"tls":""},{"id":"184d5c65.77d494","type":"ttn app","z":"","appId":"dragino_sensors","accessKey":"ttn-account-v2.Vz00Nqv8mQvFs_uOwvA6PK3YeunI7C_CSGX18gWong0","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"5bc7fc73.0d7014","type":"inject","z":"df21e0b5.ac35e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":580,"wires":[["a3b4eca6.8a4d6"]]},{"id":"a3b4eca6.8a4d6","type":"function","z":"df21e0b5.ac35e","name":"test","func":"msg.payload = {\n    temp: 10,\n    hum: 39,\n    battery: \"ok\",\n    device_id: 1\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["8eea588c.b35778"]]},{"id":"8eea588c.b35778","type":"influxdb out","z":"df21e0b5.ac35e","influxdb":"bff66c14.5f8888","name":"","measurement":"log","precision":"","retentionPolicy":"","x":540,"y":600,"wires":[]},{"id":"37900ae8.189906","type":"debug","z":"df21e0b5.ac35e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":160,"wires":[]},{"id":"e488f17e.522a68","type":"ttn uplink","z":"df21e0b5.ac35e","name":"test","app":"184d5c65.77d494","dev_id":"","field":"","x":130,"y":100,"wires":[["37900ae8.189906","abb8eec6.e7aab8"]]},{"id":"abb8eec6.e7aab8","type":"influxdb out","z":"df21e0b5.ac35e","influxdb":"cdbc66a6.c0faa8","name":"","measurement":"testlog","precision":"","retentionPolicy":"","x":310,"y":260,"wires":[]}]